gurobi.lic
.ipynb_checkpoints/
*/notebooks/Instancias/
*/notebooks/src/
**/__pycache__/*
*/Instancias/Vrp-Set-B/*
**/build/
**/playground.*
.vscode/*
*/mmurp_env/*
*.out
*.in
*/Instancias/*_MMURP
*/resultados/exp_*/
*/resultados/exp_*.tar.gz
*.result
*/tuning/instances/*
*.pdf
*/resultados/*.tar.gz
*/resultados/*/*
*/notebooks/*.csv
**/playground
**/play_instance
